@charset "utf-8";
/* CSS Document */
/*------- reset -------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5标签初始化 
--------------------------------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 标签初始化 
--------------------------------------------------*/
body {
  line-height: 1;
  color: #333;
  font: 14px/1.5 "microsoft yahei", Arial, Helvetica, Verdana, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
  border-left: solid 4px #39c;
  margin-left: 10px;
  padding-left: 10px;
  background: whitesmoke;
  margin: 10px auto;
  padding: 6px 10px;
  color: #666;
  font-size: 20px;
}
i {
  font-style: normal;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: 0;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5,
h6 {
  font-size: 12px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
div {
  display: block;
}
/* 解决Google浏览器字体不小于12px的问题
--------------------------------------------------*/
html {
  -webkit-text-size-adjust: none;
}
a {
  color: #39c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a {
  *outline: none;
}
a:active {
  star: expression(this.onFocus=this.blur());
}
a:focus {
  *outline: 0;
}
/*让position:fixed在IE6下可用! */
* html,
* html body {
  background-image: url(about:blank);
  background-attachment: fixed;
}
/*
 * layout.less
 * from: www.xuanfengge.com
 */
.fl {
  float: left;
  display: inline;
}
.fr {
  float: right;
  display: inline;
}
.cf {
  display: block;
  zoom: 1;
}
*html .cf {
  height: 1%;
}
.cf:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.cf {
  *zoom: 1;
}
.placeholder {
  color: #888888;
}
input::-webkit-input-placeholder {
  color: #888888;
}
input::-moz-placeholder {
  color: #888888;
}
textarea::-webkit-input-placeholder {
  color: #888888;
}
textarea::-moz-placeholder {
  color: #888888;
}
.text-autocut {
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.text-hide {
  display: block;
  font-size: 0;
  text-indent: -99999em;
  color: transparent;
}
.wrap {
  text-wrap: wrap;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}
.ib {
  display: inline-block;
  *zoom: 1;
  vertical-align: top;
}
html,
body {
  height: 100%;
}
.views {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #000;
}
/*开始前，屏幕*/
#start {
  display: none;
}
#start .curtain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  text-align: center;
  -webkit-transition: top 1s ease-in-out;
  -moz-transition: top 1s ease-in-out;
  transition: top 1s ease-in-out;
}
#start .curtain h1 {
  padding-top: 50px;
}
#start .curtain > p {
  margin-bottom: 50px;
}
#start .curtain > label {
  padding: 2px 4px;
  border-radius: 3px;
  background: #3399cc;
}
#start #startBtn {
  position: absolute;
  left: -9999px;
}
#start #startBtn:checked ~ .curtain {
  top: -100%;
}
/*背景*/
.views-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3399cc;
  background-image: -webkit-linear-gradient(#ffffff 0%, #3399cc 100%);
  z-index: 10;
}
.tea-cup {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  z-index: 11;
  -webkit-transform: rotate3d(1, 0, 0, 45deg);
}
